.Wdate{
	border:#999 1px solid;
	width:120px;
	height:20px;
	line-height:20px;
	text-indent:6px;
	text-align: left;
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}