@charset "UTF-8";
/**
 * 
 * @authors 店铺选择页面 (you@example.org)
 * @date    2015-12-29 15:44:06
 * @version $Id$
 */


.nav {
	float: left;
	width: 97%;
	margin-top: 10px;
	margin-left: 25px;
}

.nav-lan {
	font-size: 15px;
	height: 54px;
	font-weight:  bold;
	line-height: 54px;
	border-bottom: 1px solid #dedede;
}

.nav-lan span {
	background: #FF8366;
	float: right;
	margin-bottom: 5px;
	width: 149px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}

.nav-btn {
	display: block;
	width: 154px;
	height: 49px;
	line-height: 25px;
	border: none;
	padding: 2px 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #FF8366;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
	opacity: 1;
}

.nav-quxiao-btn {
	width: 154px;
	height: 49px;
	background: #FFFFFF;
	line-height: 25px;
	border: 1px solid #e79d06;
	color: #E79D06;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
	cursor: pointer;
}

.nav-content {
	font-size: 12px;
	padding-top: 17px;
	color: #838383;
}

.nav-content ul {
	line-height: 21px;
}

.nav-content ul li {
	padding-bottom: 14px;
}

.nav-content-title {
	font-size: 13px;
	font-weight: bold;
	float: left;
	width: 80px;
	height: 33px;
}

.nav-content-edit-title {
	font-size: 13px;
	font-weight: bold;
	float: left;
	width: 80px;
}

.nav-content-add {
	font-size: 13px;
	font-weight: bold;
	float: left;
	/*width: 80px;*/
	margin-right: 8px;
}

.nav-content ul li span {
	padding-left: 15px;
}

.nav-shop {
	border: #D5D5D5 1px solid;
	width: 300px;
	height: 27px;
	line-height: 27px;
	text-indent: 6px;
	text-align: left;
}

.nav-select {
	border: #D5D5D5 1px solid;
	width: 300px;
	height: 30px;
	line-height: 27px;
	text-indent: 6px;
	text-align: left;
}

.nav-selectcheck {
	padding-left: 0px !important;
	color: #808080;
	background: rgb(222, 222, 222);
}

.jifen-select {
	border: #D5D5D5 1px solid;
	width: 150px;
	height: 27px;
	line-height: 27px;
	text-indent: 6px;
	text-align: left;
}

.nav-info-content {
	border: #D5D5D5 1px solid;
	width: 200px;
	height: 27px;
	line-height: 27px;
	text-indent: 6px;
	text-align: left;
}

.nav-itinfo {
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #dedede;
}

.vipcard-content-logo {
	padding-right: 44px;
	font-size: 13px;
	float: left;
}

.stores-cancel {
	margin-left: 10px;
}

.shenfenduoxuan {
	border: 1px solid #D5D5D5;
	width: 300px;
	height: 300px;
	float: left;
	overflow: scroll;
}

.shenfenduoxuan ul li {
	padding: 2px;
}

#empIdentitylist {
	cursor: pointer;
}
/*添加查看身份信息*/
.preInfor{
	color: #03a9f4;
    font-size: 16px;
    text-decoration: underline;
    height: 30px;
    line-height: 30px;
    cursor:pointer;
}
/*添加查看身份信息-弹出框*/
.mengOtherlayderNot {
	
	position:absolute;
	left:50%;
	top:20%;
	margin-left:-217px;
    width: 434px; 	
    background: #fff;
    z-index: 100;
    overflow: hidden;
    border-radius: 6px;
    border:1px solid #000;
    color:#333;
}
.otherlayderNot .maxHeight{
	overflow: auto;
	max-height: 400px;
}
.otherlayderNot .maxHeight p{
	color: #333;
	line-height: 1.5;
	margin-top: 5px;
	font-size: 14px;
	text-align: justify;
}
.relativeBox {
    width: 434px;
    height: 50px;
    background: #af030a;
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    border-radius: 6px 6px 0 0;
    position: relative;
}
.confirm {
    padding: 24px 20px 0px 20px;
}
.otherlayderfoot {
    text-align: center;
    font-size: 0;
   	padding:24px 0px;
   	background: #f2f2f2;
}
.otherlaydertitle {
    font-weight: bold;
    font-size:18px;
}
.otherlaydertitle i {
    width: 21px;
    height: 21px;
    position: absolute;
    right: 20px;
    top: 15px;
    background: url(../../img/base/close.png) no-repeat;
}
.button_box {
    zoom: 1;
    width: 100%;
    margin: auto;
    display: table;
    text-align: center;
}
.button {
    width: 115px;
    height: 40px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #af030a;
    border-radius: 5px;
    cursor: pointer;
    line-height: 40px;
    font-weight: normal;
    display: inline-block;
}
.confirm>div{
	padding:18px;
	margin-bottom:24px;
	font-size:16px;
	border:1px dashed #c2c2c2;
	border-radius: 6px;
	position:relative;
}
/*.powerShop{
	top:30px;
}*/
.confirm>div>div{
	color: #af030a;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    padding-left: 40px;
    padding-right:15px;
    vertical-align: center;
}
.confirm>div .powerShop{
	padding-bottom:26px;
}
.powerCashier_t{
    background: #fff url(../../img/base/cashier_red_01.png) no-repeat 8px 0px;
}
.powerShop_t{
	background: #fff url(../../img/base/shop_red_01.png) no-repeat 8px 0px;
}
.powerM_Admin_t{
	background: #fff url(../../img/base/member_red_01.png) no-repeat 8px 0px;
}
.powerAdmin_t{
	background: #fff url(../../img/base/admin_red_01.png) no-repeat 8px 0px;
}
.powerSupplyChain_t{
	background: #fff url(../../img/base/supplyChain_red_01.png) no-repeat 8px 0px;
}
.powerPos_t{
	background: #fff url(../../img/base/dcb_red_01.png) no-repeat 8px 0px;
}