@charset "UTF-8";
table tr th {
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    color: #666 !important;
    background: #f3f3f3;
}

.stafffloatdivs {
    height: 50px;
}


/* 其他支付下的优惠和实收结束*/

.owidth {
    width: 25%
}

.twidth {
    width: 15%
}

.stores-nav {
    float: left;
    width: 97%;
    margin-top: 10px;
    margin-left: 25px;
    /*margin-bottom: 20px;*/
}

.stores-lan {
    font-size: 14px;
    height: 40px;
    font-weight: bold;
    line-height: 40px;
    border-bottom: 1px solid #dedede;
}

.stores-lan span {
    background: #FF8366;
    float: right;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.stores-lan u {
    text-decoration: none;
    cursor: pointer;
}

.stores-btn {
    display: block;
    width: 100px;
    height: 36px;
    line-height: 25px;
    border: none;
    padding: 2px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #FF8366;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
    opacity: 1;
}

.stores-content {
    font-size: 12px;
    color: #838383;
    overflow: auto;
}

.otherTh {
    width: 200px;
}


/*添加悬浮层*/

.out_table_title {
    position: fixed;
    overflow: hidden;
    width: 97%;
    z-index: 999;
}

.stores-search {
    background: #FAFAFA;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: 1px solid #E5E5E5;
    margin-top: 13px;
}

.stores-search p {
    float: left;
    font-weight: bold;
    font-size: 13px;
    margin: 0px 10px;
    color: #666666;
}

.stores-search p .btn {
    width: 70px;
    height: 25px;
    background: #FF8366;
    line-height: 25px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #E79D06;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    opacity: 1;
}

.stores_title {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    background: #FAFAFA;
}

.total-tr {
    font-weight: bold;
}

.stores_title th,
tr,
td {
    height: 45px;
    position: relative;
}

.tbodys td u {
    color: #0397ff;
    cursor: pointer;
}


/* 排序箭头样式 */

.topjt {
    background: url('../../img/base/jt.png')no-repeat 0px -5px;
    width: 17px;
    height: 8px;
    display: inline-block;
}

.botjt {
    background: url('../../img/base/jt.png')no-repeat 0px -13px;
    width: 17px;
    height: 8px;
    display: inline-block;
}

.stores_title th u {
    width: 17px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 5px;
    line-height: 0;
}

.topjtCurrent {
    background: url('../../img/base/hs.png')no-repeat 0px -5px;
}

.botjtCurrent {
    background: url('../../img/base/hs.png')no-repeat 0px -13px;
}

.por {
    height: 35px;
    position: relative;
    z-index: 1;
}

.por hr {
    position: absolute;
    width: 95%;
    background: #dfdfdf;
    border: 1px solid #dfdfdf;
    height: 0px;
    color: #dfdfdf;
    border-bottom-width: 0;
    top: 4px;
}

.por .poa {
    position: absolute;
    font-size: 16px;
    color: #333;
    left: 28px;
    width: 135px;
    text-align: center;
    z-index: 999;
    padding-left: 15px;
}
.por .po1 {
    background: #fff url('../../img/base/promotion_img1.png') 5px no-repeat;
}
.por .po2 {
    background: #fff url('../../img/base/promotion_img2.png') 5px no-repeat;
}

table tr:nth-child(2n) {
    background: #fff;
}

table tr:nth-child(2n+1) {
    background: #f9f9f9;
}

.stordDiv {
    margin-top: 30px
}

table td {
    text-align: right;
    padding-right: 20px;
}

table .leftTd {
    text-align: left;
    padding-left: 20px;
}