@charset "UTF-8";
/**
 * 
 * @authors 店铺选择页面 (you@example.org)
 * @date    2015-12-29 15:44:06
 * @version $Id$
 */
/* 其他支付下的优惠和实收*/
	table .line_title{padding-left:0 !important; padding-right:0 !important;}
	table .line_title div,table .use_line_con div{text-align: center;}
	table .line_title .other_pay{border-bottom:1px solid #dcdcdc; line-height: 1.8;}
	table .line_title div span{width:49%; display: inline-block; font-size: 12px; font-weight: normal; line-height: 20px;}
	table .line_title div span:first-child{border-right:1px solid #dcdcdc; }
	table .use_line_con div span{width:49%; display: inline-block; line-height: 45px;}
	table .use_line_con div span:first-child{border-right:1px solid #dcdcdc;}

/* 其他支付下的优惠和实收结束*/
.twidth{width:132px;}
.twidth200{width:200px;}
.twidth180{width:180px;}
.totaltwidth{width:332px;}
.totalt112{width:112px;}

.stores-nav {
	float: left;
	width: 97%;
	margin-top: 10px;
	margin-left: 25px;
	/*margin-bottom: 20px;*/
}

.stores-lan {
	font-size: 14px;
	height: 40px;
	font-weight:  bold;
	line-height: 40px;
	border-bottom: 1px solid #dedede;
}

.stores-lan span {
	background: #FF8366;
	float: right;
	margin-bottom: 5px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}

.stores-btn {
	display: block;
	width: 100px;
	height: 36px;
	line-height: 25px;
	border: none;
	padding: 2px 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #FF8366;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
	opacity: 1;
}

.stores-content {
	font-size: 12px;
	padding-top: 11px;
	color: #838383;
	/*margin-bottom: 20px;*/
	overflow: auto;
}
.stores-content_1{
	padding-top: 0px;
    margin-top: 11px;
}

.otherTh{width:200px;}
/*添加悬浮层*/
.out_table_title{
	position: fixed;
	overflow: hidden;
	width:97%;
	margin-top:-5px;
	z-index: 999;
}

.stores-search {
	background: #FAFAFA;
	height: 40px;
	line-height: 40px;
	width: 100%;
	border: 1px solid #E5E5E5;
	margin-top: 13px;
}

.stores-search p {  
	float: left;
	font-weight: bold;
	font-size: 13px;
	margin: 0px 10px;
	color: #666666;
}

.stores-search p .btn {
	width: 70px;
	height: 25px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.stores_title {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	background: #FAFAFA;
}

.total-tr {
	font-weight: bold;
}
.stores_title th, tr, td {
	height: 45px;
	/*color: #A0A0A0 !important;*/
	/*border: 1px solid #CCCCCC;*/
	position: relative;
}

.total-shopnametxt {
	width: 8%;
	font-weight: normal;
	  text-align: center;
}

.total-addr {
	width: 32%;
	font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.total-tel {
  width: 18%;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.total-type {
  width: 9%;
  font-weight: normal;
}

.total-caozuo {
  width: 18%;
  font-weight: normal;
  padding-left: 4%;
}

.stores-caozuo-btn {
	width: 70px;
	height: 30px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	margin-right: 10px;
	margin-left: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.total-num span {
	float: left;
	margin-left: 10px;
}

.btn-jianju {
	padding-left: 15%;
}

/*收银弹窗*/
.laydertan {
    position: fixed;
    width: 400px;
    /* max-height: 530px; */
    max-height: 569px;
    border: 1px solid #dedede;
    padding: 0px;
    margin: 6% auto 10px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 0;
}

.layderspan {
	font-weight: bold;
    font-size: 16px;
    color: #fff;
    height: 36px;
    /* border-bottom: 1px solid #868686; */
    /*margin-bottom: 5px;*/
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    padding-top: 10px;
    background: #ff8366;
    width: auto;
    padding-bottom: 5px;
}

.layderspan span {
	font-weight: normal;
	font-size: 12px;
	float: right;
	color: #A0A0A0;
	cursor: pointer;
}

.layderdivfirst {
	float: left;
}

.layderspan input {
    width: 16px;
    height: 30px;
    line-height: 25px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    background: #ff8366;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    opacity: 1;
    font-weight: bold;
    float: right;
}
#can-alert{
	margin-top:5px;
	display: block;
	width: 21px;
    height: 21px;
    line-height: 25px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    background: #ff8366;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    opacity: 1;
    font-weight: bold;
    float: right;
    background: url(../../img/base/close.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.layderrightfirst {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #A0A0A0;
	cursor: pointer;
}

.laydercontent {
	max-height: 418px;
	/*padding-top: 10px;*/
	line-height: 21px;
	color: #A0A0A0;
	overflow: auto;
	padding: 10px 15px;
}

/*.laydercontent p:nth-child(odd)  {
	line-height: 21px;
	font-size: 14px;
	color: #A0A0A0;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	background: #FAFAFA;
	border-bottom: 1px solid #EDEDED;
}*/

/*.laydercontent p:nth-child(even)  {
	line-height: 21px;
	font-size: 14px;
	color: #A0A0A0;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	background: #FFFFFF;
	border-bottom: 1px solid #EDEDED;
}*/

.laydercontent p {
	width: 48%;
	float: left;
	line-height: 21px;
	font-size: 14px;
	color: #A0A0A0;
	padding-left: 5px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #EDEDED;
}

.laydercontent p span {
	line-height: 21px;
	font-size: 14px;
	color: #FF8366;
	font-weight: bold;
	padding-left: 10px;
}

.xiangqingbtn {
	width: 70px;
	height: 30px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.fanjiezhang {
	margin-left: 12px;
	width: 70px;
	height: 30px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.laydertop {
	color: #A0A0A0;
	width: 100%;
	border-bottom: 1px solid #868686;
	padding-bottom: 4px;
	margin-bottom: 5px;
	background: #FF8366;
}

/*收银详情*/
.lantite {
	background: #E8E8E8;
	font-size: 12px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
}

.lanheight {
	/* overflow: hidden;
	margin-bottom: -9999px; */
	/* padding-bottom: 9999px; */
	/*height: 100%;*/
}

.lantitetw {
	background: #E8E8E8;
	font-size: 12px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	margin-top: 10px;
}

.lantitleleft {
	background: #E8E8E8;
	font-size: 13px;
	font-weight: bold;
	float: left;
	padding-left: 15px;
	color: #797978;
}

.lantitleleft span {
	background: #E8E8E8;
	font-size: 13px;
	font-weight: normal;
	padding-left: 15px;
	color: #FF8366;
}

.lantitleright {
	background: #E8E8E8;
	font-size: 13px;
	font-weight: bold;
	float: right;
	padding-right: 15px;
	color: #797978;
}

.menulist-head {
	width: 100%;
}

.laydercontent li:nth-child(odd)  {
	line-height: 21px;
	font-size: 14px;
	color: #A0A0A0;
	/*font-weight: bold;*/
	height: 40px;
	line-height: 40px;
	background: #FAFAFA;
	border-bottom: 1px solid #EDEDED;
}

.laydercontent li:nth-child(even)  {
	line-height: 21px;
	font-size: 14px;
	color: #A0A0A0;
	/*font-weight: bold;*/
	height: 40px;
	line-height: 40px;
	background: #FFFFFF;
	border-bottom: 1px solid #EDEDED;
}

.billdata {
	/*float: left;*/
	/*height: 100%;*/
	width: 90%;
	margin: 10px auto 0;
	/*border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;*/
	/*border-top:1px solid #dfdfdf;*/
	border: 1px solid #dfdfdf;
	border-bottom: none;
}

.cashie_scroll {
	height: 244px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 10px;
}
.bb {
	max-height: 340px;
  	overflow: auto;
}

.billdata ul li {
	font-size: 12px;
    color: #999999;
    /*border-top: 1px solid #dfdfdf;*/
    border-bottom: 1px solid #dfdfdf;
    /* padding: 15px 2px; */
    /*border-bottom: 1px dotted #C9C9C9;*/
}

.billname {
	
    text-align: right;
    /*margin-right: 10px;*/
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 155px;
    /*background: #F2F2F2;*/
    padding-right: 6%;
    height: 45px;
    /*line-height: 45px;*/
    padding-top: 15px;
    color: #333;
    /* font-weight: bold; */
    text-align: right;
    /*border-bottom: 1px dotted #dfdfdf;*/
    box-sizing: border-box;
    padding-right: 23px;
    width: 35%;
}

.billxuhao {
	border-left: 1px solid #dfdfdf;
    text-align: left;
    display: inline-block;
    color: #333;
    vertical-align: top;
    float: left;
    width: 155px;
    height: 45px;
    line-height: 45px;
    padding-left: 2%;
    color: #888;
    /*border-bottom: 1px dotted #dfdfdf;*/
    text-align: right;
    padding-right: 23px;
    box-sizing: border-box;
    width: 35%;
}

.billnumber {
	background: #C9C9C9;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	color: #FFFFFF;
	text-align: center;
	font-family: XinGothic-SinaWeibo, Microsoft Yahei, Heiti SC, Myriad, Lucida, Grande, Helvetica, HelveticaNeue, arial, Hiragino Sans GB, Droid san-sreif, enQuanYi Micro Hei;
}

.dishesdata {
	float: left;
	height: 400px;
	width: 64%;
	overflow-y: auto;
	overflow-x: hidden;
}

.dishesdatacontet {
	width: 100%;
	overflow: hidden;
}

.disheslan {
	height: 50px;
	line-height: 50px;
	width: 100%;
	color: #9B679B;
	padding-left: 10px;
	border-top: 3px solid #C9C9C9;
	border-bottom: 1px solid #C9C9C9;
}

.dishesdiv {
	float: left;
	/*width: 180px;*/
	padding-right: 15px;
}

.dishesdiv span {
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
}

.dishespricediv {
	float: left;
	width: 120px;
	padding-right: 15px;
}

.dishespricediv span {
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
}

.dishesdivright {
	float: right;
	width: 133px;
}

.dishesdivright span {
	color: #666666;
	font-weight: bold;
	padding-left: 10px;
}

.dishescainame {
	background: #F2F2F2;
	height: 50px;
	line-height: 50px;
	border-bottom: #C9C9C9 1px solid;
	padding-left: 10px;
}

.dishescainame ul li {
	width: 30%;
	float: left;
	font-size: 12px;
	color: #B69999;
	font-weight: bold;
	text-align: center;
}

.dishescaicontent {
	line-height: 50px;
}

.dishescaicontent ul {
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	border-bottom: #C9C9C9 1px dotted;
}

.dishescaicontent ul li {
	width: 30%;
	float: left;
	font-size: 12px;
	color: #B69999;
	/*font-weight: bold;*/
	text-align: left;
}

.dishescaicontetname {
	width: 50% !important;
	text-align: left !important;
	padding-left: 15px;
}

.dishescaicontetnametz {
	width: 50% !important;
	text-align: left !important;
	padding-left: 15px;
}

.dishescaiprice {
	width: 15% !important;
	text-align: right !important;
	padding-right: 15px;
}

.dishescaipricetz {
	width: 15% !important;
	text-align: right !important;
	padding-right: 15px;
}

/*赠菜退菜标示*/

.caipinspan {
	border: 1px solid #999999;
	background: rgba(252, 166, 145, 0.99);
	background:#fca792\0;
	width: 20px;
	height: 20px;
	color: #ffffff;
	font-size: 14px;
	display: inline-block;
	margin-left: 10px;
	border-radius: 4px;
	vertical-align: middle;
	line-height: 20px;
	text-align: center;
}

/*反结账弹层样式*/

.anticheckout {
	position: fixed;
	width: 540px;
	max-height: 400px;/*max-height: 477px;*/
	border: 1px solid #dedede;
	border-radius: 5px;
	margin: 2% auto 10px auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #FFFFFF;
	overflow: hidden;
}

.anticheckoutcontent {
	max-height: 300px;/*max-height: 418px;*/
	line-height: 21px;
	color: #A0A0A0;
	overflow: auto;
	padding: 12px 15px;/*padding: 43px 15px;*/
	width: 472px;
	margin: 0 auto;
}

.anticheckoutcontent p {
	font-size: 18px;
	color: rgb(255, 131, 102);
	font-weight: bold;
	margin-bottom: 13px;
}

.anticheckoutqueren {
	text-align: center;
	margin-top: 20px;/*margin-top: 27px;*/
}

#UncashierRecord-btn {
	width: 111px;
	height: 40px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.total-trheji {
	background: #E8E7E7 !important;
	font-weight: bold;
}

.label {
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding-top: 15px;
    color: rgb(153, 147, 147);
    text-align: center;
}

.retreat {
    float: left;
    width: 118px;
    text-align: right;
}

.retreatright {
    float: left;
    width: 320px;/*220*/
    text-align: left;
}

.retreatright span {
    color: rgb(255, 131, 102);
}

/*滚动条样式 */
/* Let's get this party started */
::-webkit-scrollbar {
    width:5px;
}
            
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #C9C9C9; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
            
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius:  10px;
    background:#C9C9C9; 
    -webkit-box-shadow: inset 0 0 6px #C9C9C9; 
              
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #C9C9C9; 
              
}
/*收银记录详情样式*/
.xubox_border{display: none !important;}

.mengxiadan {
	border-bottom: 1px solid #C9C9C9;
}
.mengxiadan p{
    line-height: 25px;
    color: #333;
    padding-left: 15px;
}
.mengxiadan p span{
	color: #999;
	font-size: 14px;
	margin-right: 10px;
}
.mengxiadan p span span{
	color: #000;
}
.mengcai p{
    width: 100%;
    line-height: 25px;
    padding-left: 15px;
    box-sizing: border-box
}
.mengcai span{
    width: 18%;
    display: inline-block;
    text-align: center;
    color: #333;
    text-align: right;
}
.bigfont{
	font-size: 14px;
    color: #ff8366;
    font-weight: bold;
}
.mengtop{
	/*background-color: #f2f2f2;*/
	margin-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}
.mengtop span{
	color: #888;
}
.mengtop .onespan{
	text-align: left;
    width: 35%;
    color: #888;
}
.mengtc .onemengtc{
	text-align: left;
    width: 35%;
    padding-left: 5px;
    box-sizing: border-box;
    display: inline-block;

}
.mengtc .onemengxc {
	width: 35%;
    text-align: left;
    color: #666;
    padding-left: 16px;
    display: inline-block;
}
.mengxc .onemengxc{
	color: #666;
}
.mengcai p i{
	font-style: normal;
    background: #ff8366;
    color: #fff;
    padding: 1px;
    margin-left: 5px;	
}    
.mengcai{
	/* padding-top: 5px; */
    margin-bottom: 5px;
}
.position_right{
    position: absolute;
    left: 238px;
}

.topjt{
	background: url('../../img/base/jt.png')no-repeat 0px -5px;
    width: 17px;
    height: 8px;
    display: inline-block;
}
 .botjt{
	background: url('../../img/base/jt.png')no-repeat 0px -13px;
    width: 17px;
    height: 8px;
    display: inline-block;
}  
.stores_title th u{
	width: 17px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 5px;
    line-height: 0;
}
.topjtCurrent{
	background: url('../../img/base/hs.png')no-repeat 0px -5px;
}
.botjtCurrent{
	background: url('../../img/base/hs.png')no-repeat 0px -13px;
}
.stores_title th .menu_wxpay,.stores_title th .menu_pri_money{
	left: 2px;
}
.pinglun-search .print_pay_record{
	float: right;
}
.pinglun-search .print_pay_record input{
	width: 110px;
}

.position_right{
    position: absolute;
    left: 205px;
}
.orderinfobar{
	background: #f2f2f2;
	line-height: 34px;
	height: 34px;
	padding-left: 15px;
	color: #666;
	font-size: 14px;
}
.printTicket{
	display: block;
	width: 116px;
	height: 46px;
	background: #ffb900;
	line-height: 46px;
	font-size: 16px;
	color: #fff !important;
	text-align: center;
	margin: 0 auto;
}
.dashedbar{
	border-top: 1px dashed #ccc;
	margin: 5px 0;
}
.oddli{
	background: #fff;
}
.evenli{
	background: #fafafa;
}
/* 支付对账，店铺选择框长度 */
.pinglun-search_1 .clearfix p .pay_width {
	width: 71px;
	font-size:14px;
}
.pinglun-search_1 select{
	height:40px !important;
}
.pinglun-search_1 .clearfix>p{
	margin-bottom:10px;
	margin-left:0px;
}
.pinglun-search_1 ul .clearfix>div{
	margin:0px 8.5px 10px 0px;

	height:40px;
}
.pinglun-search_1 ul .clearfix>div select{
	width:52px;
}
.pinglun-search_1 ul{
	margin-left:10px;
}
.pinglun-search_1 p{
	margin-right:8.5px;
	margin-left:0px;
}
.pinglun-search_1 p .btn{
	height: 40px;
}
/*微信对账支付宝对账新增样式*/
.stafffloat_1{
	position: static !important; 
	width:99.5%;
}
.stafffloatdivs_1{
	height:0px;
}
/*支付对账储值通用对账*/
.showHide_s{
	display:none;
}
.title_classify, .nav_content_classify, .con_content_classify{
  	min-width: 1146px;
    font-size: 12px;
    width: 100%;
}
.storedValueStatistical table th{
	color: #666 !important;
}
.storedValueStatistical table td{
	color: #333 !important;
}
.storedValueStatistical .stores-content{
	padding-top: 0px; 
    margin-bottom: 0px; 
}
/*收银记录优化新增样式*/
.shopList{
	width: 152px;
}