@charset "UTF-8";
/**
 * 
 * @authors 店铺选择页面 (you@example.org)
 * @date    2015-12-29 15:44:06
 * @version $Id$
 */


.stores-nav {
	float: left;
	width: 97%;
	/*margin-top: 10px;*/
	margin-left: 25px;
	margin-bottom: 20px;
}

.stores-lan {
	font-size: 15px;
	height: 54px;
	font-weight:  bold;
	line-height: 54px;
	border-bottom: 1px solid #dedede;
}

.stores-lan span {
	background: #FF8366;
	float: right;
	margin-bottom: 5px;
	width: 149px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}

.stores-btn {
	display: block;
	width: 154px;
	height: 49px;
	line-height: 25px;
	border: none;
	padding: 2px 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #FF8366;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
	opacity: 1;
}

.stores-content {
	font-size: 12px;
	padding-top: 80px;
	color: #838383;
}

.stores-content table {
	width: 100%;
}

.stores-search {
	background: #FAFAFA;
	height: 40px;
	line-height: 40px;
	width: 100%;
	border: 1px solid #E5E5E5;
	margin-top: 13px;
}

.stores-search p {  
	float: left;
	font-weight: bold;
	font-size: 13px;
	margin: 0px 10px;
	color: #666666;
}

.stores-search p .btn {
	width: 70px;
	height: 25px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.stores_title {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	background: #FAFAFA;
}

.total-tr {
	font-weight: normal;
	text-align: left;
}
.stores_title th, tr, td {
    padding:16px 10px;
	color: #666 !important;
}
.stores_title  td {
    padding:10px;
}

.total-shopnametxt {
	width: 9%;
	font-weight: normal;
	  text-align: center;
}

.total-addr {
  width: 32%;
  font-weight: normal;
}

.total-tel {
  width: 18%;
  font-weight: normal;
}

.total-type {
  width: 9%;
  font-weight: normal;
}

.total-caozuo {
  width: 18%;
  font-weight: normal;
 /* padding-left: 4%;*/
  text-align: center;
}

.stores-caozuo-btn {
	width: 70px;
	height: 30px;
	background: #FF8366;
	line-height: 25px;
	border: none;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	background: #E79D06;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: 1;
}

.total-num span {
	float: left;
	margin-left: 10px;
}

.btn-jianju {
	/*padding-left: 15%;*/
}

.tdjianju {
	/*padding-left: 10px;
	padding-right: 10px;*/
	padding:16px 10px;
	/*color: #838383 !important;*/
}

/*当日额度样式*/
.nav-content {
	font-size: 12px;
	padding-top: 17px;
	color: #838383;
}

.nav-content ul {
	line-height: 21px;
}

.nav-content ul li {
	padding-bottom: 14px;
}

.nav-content-title {
	font-size: 13px;
	font-weight: bold;
	float: left;
	width: 80px;
	height: 33px;
}

.nav-content-edit-title {
	font-size: 13px;
	font-weight: bold;
	float: left;
	width: 120px;
}

.nav-content-add {
	font-size: 13px;
	font-weight: bold;
	float: left;
	/*width: 80px;*/
	margin-right: 8px;
}

.nav-content ul li span {
	padding-left: 15px;
}

/*储值卡当日可用额度样式*/
.nav-content-edit-title {
	font-size: 13px;
	font-weight: bold;
	float: left;
	width: 108px;
	line-height: 33px;
}

.nav-content-add {
	font-size: 13px;
	font-weight: bold;
	float: left;
	/*width: 80px;*/
	margin-right: 8px;
}
/*添加抵用券样式*/
.stafffloatdiv{
 height: 14px;
}
#dayLimit .omn{
	margin-top: 20px;
	margin-bottom: 20px;
}
#dayLimit .omn input{
	margin-right: 5px;
}
#dayLimit .omn .xianzhi{
	margin-left: 20px;
}
